<nav id="navigation">

    
    <div class="titre">
        <h1>Blog</h1>
    </div>




    <div class="accueil">

        <div class="home">
            <a href="{{ path('app_home') }}">home</a>
        </div>

    {% if app.user %}
        <div class="creer"><a href="{{ path('app_article_new') }}"> Créer un article</a> </div>

        <div class="categories"><a href="">Catégories</a> </div>
    
    
        <div class="connexion">
            <div class="inscription"><a href="{{ path('app_logout') }}">Se déconnecter</a> </div>
            <div class="inscription"><a href="">Profil</a> </div>
        </div>
    {% else %}
        <div class="connexion">
            <div class="inscription"><a href="{{ path('app_login') }}">Se connecter</a> </div>
            <div class="inscription"><a href="{{ path('app_register') }}">S'inscrire</a> </div>
        </div>
     {% endif %}
    </div>
    

</nav>