{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}

<div class="titre">
    {{ form_widget(form.title,{'attr':{'class':'champ_texte'}}) }}
</div>
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}