{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div id="contenu-articles">

{% for article in articles %}

<div class="article-complet">
    <h3 class="titre-article">
        {{ article.title }}
    </h3>

    <div class="contenu-article">
        {{ article.content }}
    </div>

    <div class="date-article">
        {{ article.date ? article.date|date('Y-m-d') : '' }}
    </div>

    <div class="actions-article">
        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="actions">Voir</a>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="actions">Modifier</a>
    </div>
</div>
        

{% else %}

        <span colspan="5">no records found</span>
    
{% endfor %}

</div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
